parameters:
    ignoreErrors:
        # SplFileInfo phpstan bug
        - '#Parameter \#1 \$path of method Nette\\Loaders\\RobotLoader::excludeDirectory\(\) expects array<string>\|string, string\|false given#'
        - '#Array \(array<array<SplFileInfo>>\) does not accept array<int, string\|false>#'
        - '#Method TomasVotruba\\ShopsysAnalysis\\Finder\\PhpFilesFinder::findInDirectories\(\) should return array<SplFileInfo> but returns array<int, string\|false>#'
        - '#Parameter \#1 \$filename of function unlink expects string, string\|false given#'