parameters:
    autoload_files:
        - 'project/sylius/vendor/autoload.php'

#    bootstrap: "phpstan-sylius-bootstrap.php"

    ignoreErrors:
        - "#Class [A-Za-z\\\\]+ not found and could not be autoloaded#"
